black
flake8
flake8-docstrings
darglint
mypy
pre-commit
ipython
jedi<0.18
isort
jupyter
jupyter_client
jupyterlab
kedro
nbstripout
pytest
wheel
click
fredapi
loguru
openpyxl
xlsxwriter
quandl
pandas
desert
marshmallow
matplotlib
scikit-learn
cached-property
statsmodels
seaborn
bls
jupyterlab-code-formatter
carto2gpd
phila-style
git+git://github.com/PhiladelphiaController/phl-budget-data@main#egg=phl_budget_data
types-click
sphinx
nbsphinx
recommonmark
sphinx-autodoc-typehints
sphinx_copybutton
ipykernel
pydata-sphinx-theme
numpydoc