black
flake8
ipython
jedi==0.17.2
isort
jupyter
jupyter_client
jupyterlab
kedro
nbstripout
pytest-cov
pytest-mock
pytest
wheel
click
fredapi
bls
carto2gpd
loguru
openpyxl
xlsxwriter
quandl
pandas
desert
marshmallow
matplotlib
scikit-learn
boruta
cached-property
statsmodels
seaborn
phila-style
jupyterlab-code-formatter
git+git://github.com/PhiladelphiaController/phl-budget-data@main#egg=phl_budget_data

